<%- include("../partials/header") %>

    <div id="account-div">
        <h2 style="margin-top: 20px;">Account Details</h2>
        <div class="account-row">
            <label id="user-field">Username: <%= username %> </label>
            <input type="button" id="username-button" name="Edit" value="Edit"><br>
        </div>
        <div class="account-row">
            <label data-real-password="<%= password %>" id="password-field">Password: <%= passwordMask %> </label>
            <i id="show-button" class="fa-solid fa-eye"></i>
            <input type="button" id="password-button" name="Edit" value="Edit"><br>
        </div>
        <div class="account-row">
            <label id="firstname-field">First name: <%= firstName %> </label>
            <input type="button" id="firstname-button" name="Edit" value="Edit"><br>
        </div>
        <div class="account-row">
            <label id="lastname-field">Last name: <%= lastName %></label>
            <input type="button" id="lastname-button" name="Edit" value="Edit"><br>
        </div>    
    </div>

        <script defer>
            document.getElementById("username-button").addEventListener("click", usernameEdit)
            document.getElementById("firstname-button").addEventListener("click", firstnameEdit)
            document.getElementById("lastname-button").addEventListener("click", lastnameEdit)
            document.getElementById("password-button").addEventListener("click", passwordEdit)
            let passwordField = document.getElementById("password-field")
            let eye = document.getElementById("show-button")
            eye.addEventListener("click", togglePasswordVisibility)

            function togglePasswordVisibility() {
                if(eye.classList.contains("fa-eye")) {
                    eye.style.color = "red"
                    eye.classList.remove("fa-eye")
                    eye.classList.add("fa-eye-slash")
                    passwordField.textContent = "Password: <%= password %>"
                } else {
                    eye.style.color = "#16CC21"
                    eye.classList.remove("fa-eye-slash")
                    eye.classList.add("fa-eye")
                    passwordField.textContent = "Password: <%= passwordMask %>"
                }
            }

            function usernameEdit() {
                let field = document.getElementById("user-field")
                let input = document.createElement("input")
                let userButt = document.getElementById("username-button")
                input.type = "text"
                input.value = field.textContent.replace("Username: ", "")
                userButt.value = "Done"
                userButt.type = "button"
                field.replaceWith(input)
                userButt.addEventListener("click", async (e) => {
                    e.preventDefault()
                    let response = await fetch('/edit-username', {
                        method: "POST",
                        headers: {
                            "Content-Type" : 'application/json'
                        },
                        body: JSON.stringify({
                            newUsername: input.value.trim()
                        })
                    })

                    const data = await response.json()
                    if(data.success) {
                        location.reload()
                    } else {
                        alert(data.error)
                    }
                })
            }
                function passwordEdit() {
                let field = document.getElementById("password-field")
                let input = document.createElement("input")
                let passButt = document.getElementById("password-button")
                let realPassword = field.dataset.realPassword
                eye.style.display = "none"
                input.type = "text"
                input.value = realPassword
                
                passButt.value = "Done"
                passButt.type = "button"
                field.replaceWith(input)
                passButt.addEventListener("click", async (e) => {
                    e.preventDefault()
                    let response = await fetch('/edit-password', {
                        method: "POST",
                        headers: {
                            "Content-Type" : 'application/json'
                        },
                        body: JSON.stringify({

                            newPassword: input.value.trim()
                        })
                    })

                    const data = await response.json()
                    if(data.success) {
                        location.reload()
                    } else {
                        alert(data.error)
                    }
                })
            }
            function firstnameEdit() {
                let field = document.getElementById("firstname-field")
                let input = document.createElement("input")
                let userButt = document.getElementById("firstname-button")
                input.type = "text"
                input.value = field.textContent.replace("Firstname: ", "")
                userButt.value = "Done"
                userButt.type = "button"
                field.replaceWith(input)
                userButt.addEventListener("click", async (e) => {
                    e.preventDefault()
                    let response = await fetch('/edit-firstname', {
                        method: "POST",
                        headers: {
                            "Content-Type" : 'application/json'
                        },
                        body: JSON.stringify({
                            newFirstname: input.value.trim()
                        })
                    })

                    const data = await response.json()
                    if(data.success) {
                        location.reload()
                    } else {
                        alert(data.error)
                    }
                })
            }
            function lastnameEdit() {
                let field = document.getElementById("lastname-field")
                let input = document.createElement("input")
                let userButt = document.getElementById("lastname-button")
                input.type = "text"
                input.value = field.textContent.replace("Lastname: ", "")
                userButt.value = "Done"
                userButt.type = "button"
                field.replaceWith(input)
                userButt.addEventListener("click", async (e) => {
                    e.preventDefault()
                    let response = await fetch('/edit-lastname', {
                        method: "POST",
                        headers: {
                            "Content-Type" : 'application/json'
                        },
                        body: JSON.stringify({
                            newLastname: input.value.trim()
                        })
                    })

                    const data = await response.json()
                    if(data.success) {
                        location.reload()
                    } else {
                        alert(data.error)
                    }
                })
        }
        </script>
<%- include("../partials/footer") %>