<%- include("../partials/header") %>

    <div id="account-div">
        <h2 style="margin-top: 20px;">Account Details</h2>
        <div class="account-row">
            <label id="user-field">Username: <%= username %> </label>
            <input type="button" style="margin-top: 0;" id="username-button" name="Edit" value="Edit"><br>
        </div>
        <div class="account-row">
            <label id="firstname-field">First name: <%= firstName %> </label>
            <input type="button" style="margin-top: 0;" id="firstname-button" name="Edit" value="Edit"><br>
        </div>
        <div class="account-row">
            <label id="lastname-field">Last name: <%= lastName %></label>
            <input type="button" style="margin-top: 0;" id="lastname-button" name="Edit" value="Edit"><br>
        </div>   
            <form id="delete-form" action="/delete-user" method="POST">
                <input type="hidden" name="username" value="<%= username %>">
                <input type="button" onclick="openDelete()" name="delete-user" value="Delete Account">
            </form>
            <div id="delete-overlay"></div>

            <div id="account-alert">
                <h2 style="text-align: center;">Are you sure you want to delete your account?</h2>

                <div id="delete-options">
                    <button id="delete-yes">Yes</button>
                    <button onclick="closeDelete()">No</button>
                </div>
            </div>
    <script>
        let deleteModal = document.getElementById("account-alert")
        let deleteOverlay = document.getElementById("delete-overlay")
        let deleteYes = document.getElementById("delete-yes")
        let deleteForm = document.getElementById("delete-form")

        deleteYes.addEventListener("click", () => {
            deleteForm.submit()
        })

        function closeDelete() {
            deleteModal.style.display = "none"
            deleteOverlay.style.display = "none"
        }
        function openDelete() {
            deleteModal.style.display = "block"
            deleteOverlay.style.display = "block"
        }
    </script>
    </div>
                <div style="margin-top: 20px;" id="password-rules-div">
                <h2 style="line-height: 1; margin-top: 0;">Password Rules<a id="closebtn" class="closebtn">&times;</a></h2>
                <ul id="password-list">
                    <li>Must be at least 8 characters</li>
                    <li>Must include 1 uppercase letter</li>
                    <li>Must include 1 number</li>
                    <li>Must include 1 special character</li>
                </ul>
            </div>

        <script defer>
            document.getElementById("username-button").addEventListener("click", usernameEdit)
            document.getElementById("firstname-button").addEventListener("click", firstnameEdit)
            document.getElementById("lastname-button").addEventListener("click", lastnameEdit)

            function usernameEdit() {
                let field = document.getElementById("user-field")
                let input = document.createElement("input")
                let userButt = document.getElementById("username-button")
                input.type = "text"
                input.value = field.textContent.replace("Username: ", "")
                input.classList.add("label")
                userButt.value = "Done"
                userButt.type = "button"
                field.replaceWith(input)
                userButt.addEventListener("click", async (e) => {
                    e.preventDefault()
                    let response = await fetch('/edit-username', {
                        method: "POST",
                        headers: {
                            "Content-Type" : 'application/json'
                        },
                        body: JSON.stringify({
                            newUsername: input.value.trim()
                        })
                    })

                    const data = await response.json()
                    if(data.success) {
                        location.reload()
                    } else {
                        alert(data.error)
                    }
                })
            }
            function firstnameEdit() {
                let field = document.getElementById("firstname-field")
                let input = document.createElement("input")
                let userButt = document.getElementById("firstname-button")
                input.type = "text"
                input.value = field.textContent.replace("First name: ", "")
                input.placeholder = "First Name: "
                input.classList.add("label")
                userButt.value = "Done"
                userButt.type = "button"
                field.replaceWith(input)
                userButt.addEventListener("click", async (e) => {
                    e.preventDefault()
                    let response = await fetch('/edit-firstname', {
                        method: "POST",
                        headers: {
                            "Content-Type" : 'application/json'
                        },
                        body: JSON.stringify({
                            newFirstname: input.value.trim()
                        })
                    })

                    const data = await response.json()
                    if(data.success) {
                        location.reload()
                    } else {
                        alert(data.error)
                    }
                })
            }
            function lastnameEdit() {
                let field = document.getElementById("lastname-field")
                let input = document.createElement("input")
                let userButt = document.getElementById("lastname-button")
                input.type = "text"
                input.value = field.textContent.replace("Last name: ", "")
                input.placeholder = "Last Name: "
                input.classList.add("label")
                userButt.value = "Done"
                userButt.type = "button"
                field.replaceWith(input)
                userButt.addEventListener("click", async (e) => {
                    e.preventDefault()
                    let response = await fetch('/edit-lastname', {
                        method: "POST",
                        headers: {
                            "Content-Type" : 'application/json'
                        },
                        body: JSON.stringify({
                            newLastname: input.value.trim()
                        })
                    })

                    const data = await response.json()
                    if(data.success) {
                        location.reload()
                    } else {
                        alert(data.error)
                    }
                })
        }
        </script>
<%- include("../partials/footer") %>