<%- include("../partials/header") %>

<% if (locations.length === 0) { %>
    <p id="errorMessage">No Locations Added</p>
    <p style="text-align: center;"">Visit <a href="home">Home</a> to add locations</p>
<% } %>
<form action="/history" method="GET" id="sort-form">
    <label for="sort">Sort By:</label>
    <div id="sort-wrapper">
        <select name="sort" id="sort-select" onchange="this.form.submit()">
            <option value="date-asc" <%= sort === 'date-asc' ? 'selected' : '' %>>Date - Ascending</option>
            <option value="date-desc" <%= sort === 'date-desc' ? 'selected' : '' %>>Date - Descending</option>
            <option value="city-asc" <%= sort === 'city-asc' ? 'selected' : '' %>>City A-Z - Ascending</option>
            <option value="city-desc" <%= sort === 'city-desc' ? 'selected' : '' %>>City A-Z - Descending</option>
            <option value="rating-asc" <%= sort === 'rating-asc' ? 'selected' : '' %>>Rating - Ascending</option>
            <option value="rating-desc" <%= sort === 'rating-desc' ? 'selected' : '' %>>Rating - Descending</option>
        </select>
    </div>

</form>
<div id="history-container">
    <% locations.forEach(location => { %>
        <div class="location-div clickable" data-lat="<%= location.latitude %>" data-long="<%= location.longitude %>">
            <div class="span2">
            <h2><%= location.country %></h2>
            <h3><%= location.city %></h3>
            </div>
            <p class="label">Start Date</p>
            <p class="value"><%= location.formattedStart %></p>

            <p class="label">End Date</p>
            <p class="value"><%= location.formattedEnd %></p>

            <% if (location.photos.length > 0) { %>
                <div id="image-modal" class="modal" onclick="closeImg()">
                    <img id="modal-img">
                </div>
                <p id="photo-label" class="label">Photos</p>
                <div class="gallery value">
                    <% location.photos.forEach(photo => { %>
                            <img src="<%= photo %>" alt="<%= location.city %>" class="location-photo">
                    <% }) %>
                </div>
            <% } %>

            <p class="label">Opinions:</p>
            <p class="value"><%= location.notes %></p>
            
            <p class="label">Rating:</p>
            <p class="value"><%= location.rating %>⭐️</p>
        </div>    
    <% }) %>
</div>
<script>
    let locationDivs = document.querySelectorAll(".location-div")
    locationDivs.forEach(div =>{
        div.addEventListener("click", () => {
            const lat = div.dataset.lat;
            const long = div.dataset.long;
            window.location.href = `/location?latitude=${lat}&longitude=${long}`
        })
    })
</script>


<%- include("../partials/footer") %>