<%- include("../partials/header") %>

<p style="text-align: center;">Welcome to TravLR, your ultimate travel companion!</p>
<% if (typeof errorMessage !== 'undefined' || typeof successMessage !== 'undefined') { %>
    <div id="alerts">
        <% if (typeof errorMessage !== 'undefined') { %>
            <p id="errorMessage" style="text-align: center;"><%= errorMessage %></p>
        <% } %>
        <% if (typeof successMessage !== 'undefined') { %>
            <p id="successMessage" style="text-align: center;"><%= successMessage %></p>
        <% } %>
    </div>
<% } %>
<p id="errorMessage"></p>
<script>
    let alertDiv = document.getElementById("alerts")
    if(alertDiv) {
        setTimeout(() => {
            alertDiv.classList.add("fade-out")
        }, 3000)
        setTimeout(() => {
            alertDiv.style.display = "none"
        }, 4000)
    }
</script>
<form action="/search-location" method="GET" id="location-search">
    <div id="searchbar">
        <input type="text" name="query" placeholder="Search for a City..." required>
        <button type="submit" aria-label="Search">
            <i class="fa-solid fa-magnifying-glass fa-rotate-90"></i>
        </button>
    </div>
</form>
<div id="map-container">
    <div id="map"></div>
    <div id="location-data" data-wishlist="<%= JSON.stringify(wishList) %>" data-locations="<%= JSON.stringify(locations) %>"></div>
    <div id="key-div">
        <h3>Key:</h3>
        <div class="key">
            <div id="green-div">
                <div class="key-left">
                    <img class="pins" src="/assets/GreenPin.png" alt="Green Pin">
                    <p>Visited</p>
                </div>
                <div class="key-right">
                    <input class="checkboxes" checked type="checkbox" id="green-check">
                    <label id="green-label" for="green-check">{greenLabel}</label>
                </div>            
            </div>
        </div>
            <div class="key">
                <div id="gold-div">
                    <div class="key-left">
                        <img class="pins" src="/assets/GoldPin.png" alt="Gold Pin">
                        <p>WishList</p>
                    </div>
                <div class="key-right">
                    <input class="checkboxes" checked type="checkbox" id="gold-check">
                    <label id="gold-label" for="gold-check">{goldLabel}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var map = L.map('map').setView([20, 0], 2);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Load GeoJSON data for land detection
    let WorldGeo = null;
    fetch('/assets/Geojson.json')
    .then(res => res.json())
    .then(data => {
        WorldGeo = L.geoJSON(data);
        console.log("GeoJSON data loaded");
    })
    .catch(err => console.error("Error loading GeoJSON data:", err));

    map.on("click", function (click) {

        if(!WorldGeo) {
            errorMessage.innerText = "GeoJSON data not loaded yet. Please try again in a moment.";
            setTimeout(() => {
                errorMessage.classList.add("fade-out");
            }, 3000);
            setTimeout(() => {
                errorMessage.innerText = "";
            }, 4000);
            return;
        }


        const latitude = click.latlng.lat
        const longitude = click.latlng.lng

        const point = [longitude, latitude]; // GeoJSON format

        // Geo JSON information taken from https://raw.githubusercontent.com/johan/world.geo.json/master/countries.geo.json
        const Geo = leafletPip.pointInLayer(point, WorldGeo);

        if(Geo.length === 0) {
            errorMessage.innerText = "Please select a location on land, not in the ocean.";
            setTimeout(() => {
                errorMessage.classList.add("fade-out");
            }, 3000);
            setTimeout(() => {
                errorMessage.innerText = "";
            }, 4000);
            return;
        }

        window.location.href = `/location?latitude=${latitude}&longitude=${longitude}`
    })

    const GreenPin = L.icon({
        iconUrl: "/assets/GreenPin.png",
        iconSize: [25, 30],
        iconAnchor: [17, 30],
        popupAnchor: [-5, -34]
    })
    const GoldPin = L.icon({
        iconUrl: "/assets/GoldPin.png",
        iconSize: [25, 30],
        iconAnchor: [17, 30],
        popupAnchor: [-5, -34]   
    })

    //https://github.com/Digitalbrainstem/ejs-grammar/issues/78

    const locationData = document.getElementById("location-data")
    const Userlocations = JSON.parse(locationData.dataset.locations)
    const wishlistLocs= JSON.parse(locationData.dataset.wishlist)
    let greenCheck = document.getElementById("green-check")
    let goldCheck = document.getElementById("gold-check")
    let greenLabel = document.getElementById("green-label")
    let goldLabel = document.getElementById("gold-label")
    let errorMessage = document.getElementById("errorMessage")
    document.getElementById("green-div").onclick = () => greenCheck.click();
    document.getElementById("gold-div").onclick = () => goldCheck.click();


    let greenPins = []
    let goldPins = []

    Userlocations.forEach(location => {
        if(!location.longitude || !location.latitude) return
        const green = L.marker([location.latitude, location.longitude], {icon: GreenPin})
        .addTo(map)
        .bindPopup(`<strong>${location.city}</strong>
        <br>
        <em>${location.country}</em>
        <br>
        ${location.rating}⭐️`)
        greenPins.push(green)

        green.on('popupopen', function() {
            const element = green.getPopup().getElement();
            element.onclick= () => {
                window.location.href = `/location?latitude=${location.latitude}&longitude=${location.longitude}`;
            }
        });
    });

    wishlistLocs.forEach(wishlistLoc => {
        if(!wishlistLoc.longitude || !wishlistLoc.latitude) return
        const gold = L.marker([wishlistLoc.latitude, wishlistLoc.longitude], {icon: GoldPin})
        .addTo(map)
        .bindPopup(`<strong>${wishlistLoc.city}</strong>
        <br>
        <em>${wishlistLoc.country}</em>
        <br>`)
        goldPins.push(gold)
        gold.on('popupopen', function() {
            const element = gold.getPopup().getElement();
            element.onclick = () => {
                window.location.href = `/location?latitude=${wishlistLoc.latitude}&longitude=${wishlistLoc.longitude}`;
            }
        });
    })
    function updateGreens() {
        if(greenCheck.checked) {
            greenPins.forEach(m => m.addTo(map))
            greenLabel.textContent = "Hide"

        } else {
            greenPins.forEach(m => map.removeLayer(m))
            greenLabel.textContent = "Show"

        }
    }
        function updateGolds() {
        if(goldCheck.checked) {
            goldPins.forEach(m => m.addTo(map))
            goldLabel.textContent = "Hide"

        } else {
            goldPins.forEach(m => map.removeLayer(m))
            goldLabel.textContent = "Show"

        }
    }
    updateGreens()
    updateGolds()
    greenCheck.addEventListener("change", updateGreens)
    goldCheck.addEventListener("change", updateGolds)
</script>

<%- include("../partials/footer") %>