<%- include("../partials/header") %>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
    
    <h3 style="text-align: center;"> <%= city %> </h3>

<% if (!locationFound) { %>
     <form id="wishlist-form" action="<%= inWishlist ? '/remove-wishlist' : 'add-wishlist' %>" method="POST">
        <input type="hidden" name="city" value="<%= city || "" %>">
        <input type="hidden" name="country" value="<%= country %>">
        <input type="hidden" name="longitude" value="<%= longitude %>">
        <input type="hidden" name="latitude" value="<%= latitude %>">
        <input type="hidden" name="countryCode" value="<%= countryCode %>">
        <span><i id="star" class="<%= inWishlist ? "fa-solid yellow" : "fa-regular" %> fa-star"></i></span>
        <label for="wishlist-check"><%= inWishlist ? "Remove from Wishlist" : "Add to Wishlist" %></label>
    </form>
    <h2 style="text-align: center; margin-bottom: 0px;">Visited here before?</h2>
    <div style="text-align: center; margin-top: 0px; margin-bottom: 10px;">
        <input type="radio" name="visited" value="Yes" id="yes-radio">
        <label for="Yes">Yes</label>
        <input type="radio" name="visited" value="No" id="no-radio" checked>
        <label for="No">No</label>
    </div>
    <% if (typeof errorMessage !== 'undefined') { %>
        <p id="errorMessage"><%= errorMessage %></p>
    <% } %>

    <div id="modal-overlay"></div>
    <form id="location-form" 
    method="POST" 
    style="padding-top: 10px; display: none;" 
    action="add-location"
    enctype="multipart/form-data" 
    >
        <% if (typeof errorMessage !== 'undefined') { %>
            <p id="errorMessage"><%= errorMessage %></p>
        <% } %>
        <input type="hidden" name="city" value="<%= city || "" %>">
        <input type="hidden" name="country" value="<%= country %>">
        <input type="hidden" name="countryCode" value="<%= countryCode %>">
        <input type="hidden" name="longitude" value="<%= longitude %>">
        <input type="hidden" name="latitude" value="<%= latitude %>">
        <h2 style="line-height: 1;"><span>Add <%= city %></span><a href="javascript:void(0)" class="closebtn" onclick="closeDiv()">&times;</a></h2>
        <label for="visit-date">When did you visit?</label><br>
            
        <input autocomplete="new-password" id="tripRange" type="text" placeholder="Select date range">

        <input type="hidden" name="visitDateStart" id="visitDateStart">
        <input type="hidden" name="visitDateEnd" id="visitDateEnd"><br>
        
        <label for="photos">Photos:</label>
        <span class="limit">Max: 3</span><br>
        <input type="file" id="photos-upload" name="photos" multiple><br>
        <div id="notes-div">
            <label style="vertical-align: baseline;" for="notes">Notes:</label>
            <textarea id="notes" name="notes" rows="4" cols="25"></textarea><br>            
        </div>
<br>
        <label for="rating">Rating:</label>
        <select id="rating" name="rating">
            <option value="1">1⭐️</option>
            <option value="2">2⭐️</option>
            <option value="3">3⭐️</option>
            <option value="4">4⭐️</option>
            <option value="5">5⭐️</option>
        </select><br>

        <input id="submit-butt" style="margin-top: 10px;" type="submit" value="Add to History">
    </form>
<% } %>
<% if (locationFound) { %>
<div id="photos-overlay"></div>
    <form id="foundLoc-form" action="/delete-location" method="POST">
        <input type="hidden" name="city" value="<%= visitedData.city %>">
        <input type="hidden" name="country" value="<%= visitedData.country %>">
        <div class="location-div">
            <p class="label">Start Date</p>
            <p class="value"><%= visitedData.formattedStart %></p>

            <p class="label">End Date</p>
            <p class="value"><%= visitedData.formattedEnd %></p>
            <% if (visitedData.photos.length > 0) { %>
                <div id="image-modal" class="modal" onclick="closeImg()">
                    <img id="modal-img">
                </div>
                <p id="photo-label" class="label">Photos</p>
                <div class="gallery value">
                    <% visitedData.photos.forEach(photo => { %>
                            <img src="<%= photo %>" alt="<%= visitedData.city %>" class="location-photo">
                    <% }) %>
                </div>
            <% } %>

            <p class="label">Opinions:</p>
            <p class="value"><%= visitedData.notes %></p>
            
            <p class="label">Rating:</p>
            <p class="value"><%= visitedData.rating %>⭐️</p>
            <input id="addPhotos-butt" class="span2" type="button" name="openPhotos" value="Add photos">
            <input class="span2" type="submit" name="delete-loc" id="delete-loc" value="Delete Location">
        </div> 
    </form>
    <form  style="display: none;" id="upload-more" method="POST" action="/location/upload" enctype="multipart/form-data">
        <div id="modal-header">
        <h3>Upload More Photos</h3>
        <span id="close-butt">&times;</span>
        </div>
        <input type="hidden" name="latitude" value="<%= latitude %>">
        <input type="hidden" name="longitude" value="<%= longitude %>">
        <input type="file" name="photos" multiple><br>
        <p style="text-align: center;">*3 max at a time</p>
        <input type="submit" name="add-photos" value="Add Photos">
    </form>
    <script>
        let uploadMore = document.getElementById("upload-more")
        let uploadOverlay = document.getElementById("photos-overlay")
        let openModalButt = document.getElementById("addPhotos-butt")
        let closeModalButt = document.getElementById("close-butt")
        uploadOverlay.addEventListener("click", () => {
            uploadOverlay.style.display = "none"
            uploadMore.style.display = "none" 
        })
        openModalButt.addEventListener("click", () => {
            uploadMore.style.display = "block"
            uploadOverlay.style.display = "block"
        })
        closeModalButt.addEventListener("click", () => {
            uploadOverlay.style.display = "none"
            uploadMore.style.display = "none"
        })    
    </script>

<% } %>
    <div id="things-to-do-div">
        <h2 style="text-align: center; margin-bottom: 10px; margin-top: 20px;">Things to do around <%= city %>:</h2>

    <!-- https://www.w3schools.com/howto/howto_js_slideshow.asp -->
        <div class="location slideshow-container">
            <div id="loading"></div>
        </div>
        <div id="dot-div" style="text-align: center;">

        </div>    
 
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script>
    let photoLabel = document.getElementById("photo-label")
    let gallery = document.getElementsByClassName("gallery")[0]
    let imgModal = document.getElementById("image-modal")
    let modalPhoto = document.getElementById("modal-img")

    document.querySelectorAll(".location-photo").forEach(img => {
        img.addEventListener("click", e => {
            modalPhoto.src = e.target.src
            imgModal.style.display = "flex"
        })
    })
    function closeImg() {
        imgModal.style.display = "none"
    }
</script>
<script>
    const latitude = Number("<%= latitude %>");
    const longitude = Number("<%= longitude %>");

    const loader = document.getElementById("loading")
    const spinner = new Spinner({
        lines: 12, length: 7, width: 5, radius: 10, color: "#2D3436"
    }).spin(loader)

    fetch(`/api/things-to-do?latitude=${latitude}&longitude=${longitude}`)
    .then(res => res.json())
    .then(data => {
        spinner.stop()
        loader.remove()
        const container = document.getElementsByClassName("slideshow-container")[0];
        const thingsToDo = data.thingsToDo;
        if(!thingsToDo || thingsToDo.length === 0) {
            container.innerHTML = "<p id='errorMessage' style='padding: 20px' >No things to do in this area.</p>";
            return;
        }
        //https://developer.mozilla.org/en-US/docs/Web/API/Element/insertAdjacentHTML
            container.insertAdjacentHTML("beforeend", `
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            `);


        thingsToDo.forEach(item => {
            let index = 1
            const slideDiv = document.createElement("div");
            slideDiv.classList.add("fact-slides");
            const title = document.createElement("h3");
            title.textContent = item.name;
            slideDiv.appendChild(title);
            if(item.address) {
                const address = document.createElement("p");
                address.innerHTML = `<strong>Address:</strong> ${item.address}`;
                slideDiv.appendChild(address);
            }
            if(item.distance) {
                const distance = document.createElement("p");
                distance.innerHTML = `<strong>Distance:</strong> ${item.distance.toFixed(2)} m`;
                slideDiv.appendChild(distance);
            }
            if(item.category && item.category.length > 0) {
                const categoryArray = item.category.split("\n");
                const categories = document.createElement("p");
                categories.innerHTML = ` <strong>Categories:</strong> ${categoryArray.join(", \n")}`;
                slideDiv.appendChild(categories);
            }
            container.appendChild(slideDiv);
            console.log(`Name: ${item.name}`)
            console.log(`categories: ${item.category}`);
            console.log(item)

            const dotDiv = document.getElementById("dot-div")
            dotDiv.insertAdjacentHTML("beforeend", 
                `<span class="dot" onclick="currentSlide(index)"></span>`
            )
            index++
        })
        slideIndex = 1;
        showSlides(slideIndex);
    })
    .catch(err => {
        spinner.stop()
        loader.innerHTML = `<p class="errorMessage">Error Loading Data</p>`
    })
</script>

    <script defer>
        let yesRadio = document.getElementById("yes-radio")
        let noRadio = document.getElementById("no-radio")
        let locationForm = document.getElementById("location-form")
        let overlay = document.getElementById("modal-overlay")
        const wishlistForm = document.getElementById("wishlist-form")
        let submitButt = document.getElementById("submit-butt")
        const star = document.getElementById("star")

        if(locationForm && submitButt) {
            locationForm.addEventListener("submit", () => {
                submitButt.disabled = true;
                submitButt.value = "Uploading..."
            })
        }
        
        if(star && wishlistForm) {
            star.addEventListener("click", () => {
                wishlistForm.submit()
            })
        }
        
if (yesRadio && noRadio && locationForm && overlay) {
    function closeDiv() {
        locationForm.style.display = "none" 
        overlay.style.display = "none"
        noRadio.checked = true;
    }
    function openDiv() {
        locationForm.style.display = "block"
        overlay.style.display = "block"
    }

    yesRadio.addEventListener("change", () => {
        if(yesRadio.checked) {
            openDiv()
        } 
    })
    noRadio.addEventListener("change", () => {
        if(noRadio.checked) {
            closeDiv()
        }
    })
}
        
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
        function currentSlide(n) {
            showSlides(slideIndex = n)
        }
        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName('fact-slides');
            let dots = document.getElementsByClassName('dot')
            if(slides.length === 0) {
                return;
            }
            if(n > slides.length) {slideIndex = 1}
            if(n < 1) {slideIndex = slides.length}

            for(i=0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for(i=0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "")
            }
            slides[slideIndex - 1].style.display = "block"
            dots[slideIndex-1].className += " active"
        }


    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
    flatpickr("#tripRange", {
    mode: "range",
    dateFormat: "Y-m-d",
    allowInput: true,
    onChange: (selectedDates, dateStr) => {
        const [start, end] = selectedDates;
        document.getElementById("visitDateStart").value = start ? start.toISOString().slice(0,10) : "";
        document.getElementById("visitDateEnd").value = end ? end.toISOString().slice(0,10) : "";
    },
    onOpen: (selectedDates, dateStr, instance) => instance.clear()
    });
</script>
<%- include("../partials/footer") %>