<%- include("../partials/header") %>

<% if (wishList.length === 0) { %>
    <p id="errorMessage">Your Wishlist is Empty</p>
    <p style="text-align: center;"">Visit <a href="home">Home</a> to add locations to your wishlist</p>
<% } %>

<div id="wishlist-container">
    <% wishList.forEach(item => { %>
        <div class="location-div clickable" data-lat="<%= item.latitude %>" data-long="<%= item.longitude %>">
            <div class="span2">
                <h2><%= item.country %></h2>
                <h3><%= item.city %></h3>
            </div> 
        </div>
    <% }) %>
</div>
<script>
    let locationDivs = document.querySelectorAll(".location-div")
    locationDivs.forEach(div =>{
        div.addEventListener("click", () => {
            const lat = div.dataset.lat;
            const long = div.dataset.long;
            window.location.href = `/location?latitude=${lat}&longitude=${long}`
        })
    })
</script>

<%- include("../partials/footer") %>