<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <% if(title === "Home"){ %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <!-- polygon Detection to stop users from clicking ocean -->
    <script src="https://unpkg.com/leaflet-pip/leaflet-pip.min.js"></script>

    <% } %>
    <script src="NavBar.js" defer></script>
    
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      referrerpolicy="no-referrer" />



    <link rel="stylesheet" href="/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
        <div id="mySidenav" class="sidenav">
        <div class="sidenav-header">
            <a class="nav-header" href="">
                <h2> <%= title %> </h2>
            </a>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>

        <% 
        const pages = [
            {name: "Home", path: "/home"},
            {name: "History", path: "/history"},
            {name: "Wishlist", path: "/wishlist"},
            {name: "Settings", path: "/settings"},
            {name: "Account", path: "/account"},
            {name: "Logout", path: "/logout"}
        ];
        %>

        <% if(title !== "Login" && title !== "Register") { %> 
            <% pages.forEach(page => { %>
                <% if(page.name !== title) { %>
                    <a href=" <%= page.path %> "> <%= page.name %> </a>
                <% } %>
            <% }) %>
        <% } %>

    </div>
    <div class="Heading">
        <h1 class="title"> TraveLR </h1>
        <% if(title !== "Login" && title !== "Register") { %>
            <p onclick="openNav()" class="Hamburger">&#8801;</p>        
        <% } %>

    </div>
    <div class="content">
        <h2 style="text-align: center; margin-top: 0;"> <%= title %> </h2>